nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  width: 100%;
  background: rgba(255, 255, 255, 0);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.7px);
  -webkit-backdrop-filter: blur(5.7px);
}

.logo img {
  width: 9vw;
}

nav .nav-links {
  display: flex;
  gap: 1.5rem;
}

nav a {
  text-decoration: none;
  color: #000;
}
